/* FIX SCROLLSPY */
html {
    scroll-padding-top: 112px; /* altura nav */
}

/* reemplazo SUCCESS (green) */
.custom-green {
    --bs-btn-bg: #29A744;
    --bs-btn-hover-bg: #57ce71;
    --bs-btn-hover-border-color: #0cb466;
    --bs-nav-link-color: #29A744;
    --bs-nav-link-hover-color: #57ce71;
}

/* NAV */
#navbar .navbar {
    --bs-navbar-nav-link-padding-x: 0.75rem;
 }

 .custom-green.nav-link.active {
    --bs-navbar-active-color: #57ce71;
 }

 /* INTRO */
#carouselIntro .carousel-item > img {
    max-height: 80vh;
    object-fit: cover;    
    filter: brightness(50%);
}

#intro .carousel-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    color: white;
}

#intro .carousel-overlay p:first-child {
    font-size: 3rem;
    font-weight: 500;
}

#intro .btn-xlg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.5rem;
}

/* ORADORES */
#oradores .bg-info{
    --bs-info-rgb: 23, 162, 185;
}

#oradores .card-text {
    line-height: 2rem;
}

/* LUGAR */
#carouselLugar .carousel-item > img {
    height: 65vh;
    object-fit: cover;
}

#lugar p {
    font-size: 1.15rem;
}

#lugar h2 {
    font-size: 2.25rem;
}

/* PARTICIPA */
textarea::placeholder {
    font-size: x-large;
}

#participar .btn.custom-green {
    --bs-btn-bg: #96C93E;
    --bs-btn-hover-bg: #71a020;
    --bs-btn-border-color: #96C93E;
}

/* COMPRA */
#comprar .btn.custom-green {
    --bs-btn-bg: #96C93E;
    --bs-btn-hover-bg: #71a020;
    --bs-btn-border-color: #96C93E;
}

/* FOOTER */
footer {
    background-color: #1d4052;
}

footer a {
    --bs-nav-link-color: white;
    --bs-nav-link-hover-color: rgb(154, 177, 212);
    --bs-nav-link-font-size: 1.25rem;
    padding: 3rem !important;
    white-space: normal;
}